h1 {
    text-align: center;
    font-weight: 600;
    font-size: 55px;
}

#main-header-container {
    background: rgb(91, 91, 226);
    width: 100%;
    padding: 60px 30px 80px 30px;
}

#main-header-content-row {
    padding: 30px 30px 30px 30px;
    background: rgba(255, 255, 255, 0.712);
    max-width: 1080px;
}

.container {
    width: 100%;
    padding: 30px 
}